.about-3 {
    padding: 100px 0 50px 0;
    background-color: @white;

    &-list {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 130px;
        cursor: pointer;

        &:not(:last-child) .about-3-rhombus:after {
            content: '';
            display: block;
            width: 87px;
            height: 1px;
            position: absolute;
            bottom: 100%;
            left: 100%;
            background-color: rgb(238, 238, 238);
            transform-origin: top left;
            transform: rotate(-45deg);
        }

        &:not(:last-child) {
            margin: 0 85px 0 0;
        }

        &:hover {

            .about-3-rhombus {
                background-color: @blue;
                box-shadow: none;
            }

            .about-3-text {
                color: @blue;
            }

            .about-3-rhombus-number {
                color: @white;
            }

            svg {
                color: @white;
            }
        }
    }

    &-rhombus {
        position: relative;

        &-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            transform: rotate(-45deg);
        }

        &-number {
            width: 100%;
            margin: 5px 0 0 0;
            font-family: @VarelaRegular;
            font-size: 28px;
            line-height: 38px;
            text-align: center;
        }
    }

    &-text {
        margin: 49px 0 0 0;
        font-family: @VarelaRegular;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }
}