@OpenSansBold: 'OpenSans-Bold', sans-serif;
@OpenSansExtraBold: 'OpenSans-ExtraBold', sans-serif;
@OpenSansSemiBold: 'OpenSans-SemiBold', sans-serif;
@OpenSansLight: 'OpenSans-Light', sans-serif;
@OpenSansRegular: 'OpenSans-Regular', sans-serif;
@VarelaRegular: 'Varela-Regular', sans-serif;
@MyriadProRegular: 'MyriadPro-Regular', sans-serif;
@white: #ffffff;
@blue: rgb(25, 111, 192);
@darkblue: rgb(0, 75, 145);
@grey: rgb(102, 102, 102);
@lightgrey: rgb(229, 229, 229);

.logo {
    display: block;
    border: 4px solid @white;
    width: 56px;
    height: 56px;
    position: relative;
    transform: rotate(45deg);

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 23px;
        left: -31px;
        display: block;
        width: 110px;
        height: 4px;
        background: linear-gradient(90deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 1) 25%,
                rgba(9, 9, 121, 0) 25%, rgba(7, 57, 152, 0) 75%,
                rgba(255, 255, 255, 1) 75%,
                rgba(255, 255, 255, 1) 100%);
    }

    &::after {
        transform: rotate(90deg);
    }

    &_label {
        margin: 13px 0 0 0;
        width: 25px;
        height: 25px;
        border: 2px solid @white;

        &::after,
        &::before {
            width: 48px;
            height: 2px;
            top: 10px;
            left: -14px;
        }
    }

    &_welcome {
        width: 75px;
        height: 75px;
        border: 5px solid @white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::before,
        &::after {
            width: 147px;
            top: 30px;
            left: -41px;
        }
    }
}

.section {
    &-title {
        color: @blue;
        text-align: center;
        font-family: @MyriadProRegular;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
    }

    &-subtitle {
        position: relative;
        color: @grey;
        text-align: center;
        font-family: @VarelaRegular;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.2em;
        text-transform: uppercase;

        &::before,
        &::after {
            content: '';
            display: block;
            width: 20px;
            height: 1px;
            position: absolute;
            top: 50%;
            background-color: @grey;
            transform: translateY(-50%);
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }
}



.rhombus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(235, 235, 235);
    background-color: @white;
    box-shadow: 3px 3px 0px 0px rgb(235, 235, 235);
    transform: rotate(45deg);

    &_about-1 {
        width: 80px;
        height: 80px;
    }

    &_about-3 {
        width: 92px;
        height: 92px;
    }

    &_btn-main-services {
        width: 25px;
        height: 25px;
        border: 1px solid rgb(204, 204, 204);
        box-shadow: none;
    }

    &_main-services {
        border: 1px solid rgb(221, 221, 221);
        box-shadow: none;
    }

    &_btn-reviews,
    &_team-social {
        width: 25px;
        height: 25px;
        border: 1px solid @white;
        box-shadow: none;
        background-color: @blue;
    }

    &_works {
        box-shadow: 3px 3px 0px 0px rgba(238, 238, 238, 0.5);
    }

    &_twitter {
        width: 66px;
        height: 66px;
        border: 2px solid @white;
        box-shadow: none;
        background-color: transparent;
    }

    &_map-pin {
        width: 14px;
        height: 14px;
        border: none;
        box-shadow: none;
        background-color: @blue;
    }

    &_social {
        border: 2px solid rgba(255, 255, 255, 0.65);
        width: 70px * 0.7;
        height: 70px * 0.7;
        box-shadow: none;
        background-color: @blue;
    }

    &_footer {
        border: none;
        width: 40px * 0.7;
        height: 40px * 0.7;
        box-shadow: none;
        background-color: black;
    }

}